.jumbotron{
  position: relative;
  max-height: 300px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  .content-wrapper{
    position: absolute;
    height: 100%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .content-jumbotron{
      background-color: var(--color-prim);
      display: inline-block;
      width: 75%;
      max-width: 300px;
      padding: 20px;
      margin: 2rem;
      color: var(--color-white);
      box-shadow: 15px 15px 0px rgba(#D1D5DB, .75);
      margin: 50px 15px;
      line-height: 2.6rem;
      h1{
        margin: 0;
        text-align: left;
        text-shadow: 2px 2px #000;
      }
    }
    
  }
  .background-image{
    min-height: 300px;
    display: flex;
    flex-direction: column;
    picture,
    img{
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;
      object-fit: cover;
    }
  }
}
