.testimonals--section{
  background-color:var(--color-grey-800);
  color: var(--color-white);
  h2{
    font-size: 2.5rem;
    letter-spacing: .3rem;
    display: block;
    padding: 1.5rem .75rem 0;
    margin-bottom: -2.5rem;
    text-transform: uppercase;
    font-weight: 600;
  }
}
.slick-slider {
  max-width: 100%;
  position: relative;
  padding: 2.5rem 0;
  .slick-arrow{
    position: absolute;
    top: 0;
    font-size: 1.5rem;
    padding: .15rem .75rem;
    background-color: var(--color-prim);
    box-shadow: .2rem .2rem 0 var(--color-white);
    text-align: center;
    color: var(--color-white);
    &:first-child{
      right: 4.75rem;
    }
    &:last-child{
      right: 1rem;
    }
    &.slick-disabled{
      opacity: 50%;
      cursor: not-allowed;
    }
  }

}
.testi-item-wrapper{
  .testi-item{
    margin: .75rem;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    blockquote{
      margin-bottom: 10px;
      border: 3px solid  var(--color-white);
      background-color: var(--color-white);
      color:  var(--color-prim);
      padding: .25rem;
      border-radius: .25rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-weight: 300;
      font-size: 1.3rem;
      letter-spacing: .05rem;
      position: relative;
      &:after{
        content:" ";
        display: inline-block;
        width: 2rem;
        height: 1rem;
        background-image: url('../../../img/ballon-path.svg');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        bottom: -1rem;
      }
    }
    cite{
      text-align: right;
      font-style: normal;
      letter-spacing: .1rem;
      font-size: 1.2rem;
      color: var(--color-white);
    }
  }
}


