


.main-navigation-top{
  border-bottom: .5rem solid var(--color-prim);
  background-color: var(--color-black);
  color: var(--color-white);
  padding: .5rem 1.5rem .5rem .5rem;
  .logo{
    font-size: 1.2rem;
    letter-spacing: .04rem;
  }
  .log-menu-wrapper{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    a{
      margin-right: 1rem;
    }
    button{
      display: inline-block;
      margin-right: 1rem;
    }
  }
  button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .menu-bar{
      display: inline-block;
      width: 1.4rem;
      height: .1rem;
      background-color: var(--color-white);
      margin-bottom: .3rem;
      border-radius: .15rem;
      &:last-child{
        margin-bottom: 0;
      }  
    }
  }  
}


#main-navigation-sidebar{
  z-index: 5;
  position: fixed;
  top: 3.3rem;
  left: -100%;
  width: 100%;
  max-width: 15rem;
  height: calc(100vh - 4.5rem);
  overflow-x: scroll;
  border-right: .25rem solid var(--color-prim-dark);
  background-color: var(--color-black);
  color: var(--color-prim);
  letter-spacing: -.025em;
  transition: .6s all;
  box-shadow: .1rem 0 .3rem var(--color-shadow);
  &.open{
    left: 0;
  }
  a{
    display: block;
    padding: .35rem;
    font-size: 1.2rem;
  }
  .menu-username{
    font-size: 1.6rem;
  }
  .menu-profile-picture img{
    border: .15rem solid var(--color-prim);
    text-align: center;
    max-width: 6rem;
    max-height: 6rem;
    border-radius: 50%;
    margin: 1.5rem auto;
  }
}
