@import '../../../../scss-mixins/screenhook';
.workout-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 auto;
}

.workoutdetail__wrapper{
  display: flex;
  flex-wrap: wrap;
  @include sm-and-below{
    flex-direction: column-reverse;
  }
  .workoutdetail__inner{
    width: 50%;
    min-height: 200px;
    @include sm-and-below{
      width: 100%;
    }
    img{
      flex: 1 0 auto;
      max-width: 100%;
      width: 100%;
      max-height: 500px;
      object-fit: cover;
      border-radius: 1.5rem;
      border: 3px solid var(--color-prim);
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      @include sm-and-below{
        max-height: 300px;
        margin-bottom: 2rem;
      }
    }
  }
}

.workoutdetail__info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  @include sm-and-below{
    padding: 2rem .5rem;
  }
}
.workoutdetail__header{
  display: inline-flex;
  margin-bottom: 1rem;
  @include sm-and-below{
    display: block;
  }
  .workoutdetail__titel{
    flex: 1 0 auto;
    font-size: 2rem;
    text-transform: uppercase;
    width: 100%;
    font-weight: 700;
    letter-spacing: .2rem;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.90);
    line-height: 2.3rem;
    color: var(--color-prim);
  }
  .workoutdetail__sport{
    font-weight: 300;
    color: var(--color-prim);
    display: inline-block; 
}
}
.workoutdetail__duration{
  margin-bottom: 1rem;
  display: inline-block;
  font-weight: 300;
  display: flex;
  align-items: center;
  svg{
    margin-right: .5rem;
  }
}
.workoutdetail__backlink{
  display: flex;
  align-items: center;
  font-weight: 200;
  margin-bottom: .1rem;
  @include sm-and-below{
    margin-bottom: 1rem;
  }
}