//base
.btn{
  display: flex;
  padding: .4rem .7rem;
  margin: 0.1rem; 
  font-size: var(--font-s-norm);
  border-radius: var(--border-r-sm);
  transition: .4s all;
}

// sizes
.btn.btn-sm{
  font-size: var(--font-s-small);
  padding: .05rem .3rem;
}

//color-variants
.btn.btn-prim{
  background-color: var(--color-prim);
  color: var(--color-black);
  border: 1px solid  var(--color-prim); ;
  &:hover{
    background-color: var(--color-prim-dark);
    border: 1px solid  var(--color-prim-dark); ;
  }
}
.btn.btn-sec{
  background-color: var(--color-sec-dark);
  color: var(--color-white);
  &:hover{
    background-color: var(--color-sec);
  }
}

.btn.btn-grey-600{
  background-color: var(--color-grey-600);
  color: var(--color-white);
  &:hover{
    background-color: var(--color-grey-200);
    color: var(--color-black);
  }
}
.btn--edit{
  display: flex;
  width: 100%;
  text-align: center;
  border-radius: 0;
  border: 3px solid var(--color-prim);
  &:hover{
    color: var(--color-black);
    background-color: var(--color-prim);
    border: 3px solid var(--color-prim);
  }
 
}
.btn--save{
  display: flex;
  width: 100%;
  text-align: center;
  border-radius: 0;
  color: var(--color-black);
  background-color: var(--color-prim);
  border: 3px solid var(--color-prim);
  &:hover{
    color: var(--color-white);
    background-color: var(--color-black);
    border: 3px solid var(--color-black);
  }
}

.btn--cancel{
  display: flex;
  width: 100%;
  text-align: center;
  border-radius: 0;
  color: var(--color-white);
  background-color: var(--color-extra-3);
  border: 3px solid var(--color-extra-3);
  &:hover{
    background-color: var(--color-black);
    border: 3px solid var(--color-black);
  }
}

.btn--succespage{
  font-size: 1.5rem;
  border: 2px solid var(--color-black);
  margin-top: 2rem;
  padding: .5rem 2rem;
  &:hover{
    background-color: var(--color-black);
    color: var(--color-prim);
  }
}
