.button__logout{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-extra-3);
  padding: .2rem .75rem;
  border: 3px solid var(--color-extra-3);
  width: 100%;
  
  span{
    display: inline-block;
    margin-right: .2rem;
  }
}
