.error{
  display: flex;
  max-width: 100%;
  margin: 1rem .75rem;
  background-color: var(--color-prim);
  color: var(--color-black);
  padding: .2rem 1rem;
  border-radius: .2rem;
  p{
    max-width: 100%;
    flex: 1 0 auto;
    color: var(--color-black);
  }
}
.error--error{
  background-color: var(--color--error);
  color: var(--color-white);
  p{
    color: var(--color-white);
  }
}
