@import '../../../scss-mixins/screenhook';
.jumbotron{
  position: relative;
  max-height: 22.5rem;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  .content-wrapper{
    position: absolute;
    height: 100%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .content-jumbotron{
      background-color: var(--color-prim-dark);
      display: inline-block;
      width: 75%;
      max-width: 20rem;
      padding: 1rem;
      margin: 2rem;
      color: var(--color-white);
      box-shadow: .75rem .75rem 0 rgba(#D1D5DB, .75);
      margin: 2.5rem .75rem;
      line-height: 2.6rem;
     
      h1{
        margin: 0;
        text-align: left;
        text-shadow: .01rem .01rem var(--color-black);
        color: var(--color-white);
        @include sm-and-below{
          font-size: 1rem;
          line-height: 1.3rem;
        }
      }
    }
    
  }
  .background-image{
    display: flex;
    flex-direction: column;
    @include sm-and-below{
      min-height: 300px;
    }
    picture,
    img{
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;
      object-fit: cover;
    }
  }
}
