.promoted_workouts__wrapper{
  padding: 1rem;
  background-color: var(--color-prim-dark);
}
.promoted_workouts__title{
  text-align: center;
  font-size: 2rem;
  letter-spacing: .5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  text-shadow: 3px 3px 0 var(--color-black);
  padding: 1.5rem;

}