:root{
  --color-prim-light: #93C5FD;
  --color-prim: #d4ff00;
  --color-prim-dark: #7e9900;
  --color-sec: #EE5A24;
  --color-sec-dark: #EA2027;
  --color-white: #FFF;
  --color-black: #101400;
  --color-grey-800:#333;
  --color-grey-600: #666;
  --color-grey-400: #999;
  --color-grey-200: #CCC;
  --border-r-sm: .25rem;
  --font-s-norm: .9rem;
  --font-s-small: .7rem;
}


html{
  font-size: 20px;
}
html,body,#root{
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 100%;
  min-height: 100%;
  background-color: var(--color-grey-800);
  color: var(--color-white);
}
#main-content{
  flex: 1 0 auto;
}
// to make room for footer menu when loged in
#main-content.loged-in{
  margin-bottom: 2.7rem;
}


h1{
  text-align: center;
  margin:  1rem 0;
  color: var(--color-prim);
}

.intro-line{
  margin-bottom: 2.5rem;
  text-align: center;
  font-weight: 200;
}
