:root{
  --color-prim-light: #93C5FD;
  --color-prim: #0652DD;
  --color-prim-dark: #1B1464;
  --color-sec: #EE5A24;
  --color-sec-dark: #EA2027;
  --color-white: #FFF;
  --color-black: #1F2937;
  --color-grey-800:#333;
  --color-grey-600: #666;
  --color-grey-400: #999;
  --color-grey-200: #CCC;
  --border-r-sm: .25rem;
  --font-s-norm: .9rem;
  --font-s-small: .7rem;
}


html{
  font-size: 20px;
}
html,body,#root{
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 100%;
  min-height: 100%;
}

#main-content{
  flex: 1 0 auto;
  // should not be margin bottom if not logt in 
  margin-bottom: 2.7rem;
}


h1{
  text-align: center;
  margin:  1rem 0;
  color: var(--color-prim);
}

.intro-line{
  margin-bottom: 25rem;
  text-align: center;
  font-weight: 200;
}
